* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body {
    background-color: black;
    color: white;
    background-color: #1f5aba;
    background-image: url("data:image/svg+xml,%3Csvg width='42' height='44' viewBox='0 0 42 44' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg id='brick-wall' fill='%23470ca5' fill-opacity='0.4'%3E%3Cpath d='M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    font-size: 16px;
    font-family: 'Oswald', sans-serif;
}

a{
    color: white;
    text-decoration: none;
}

ul{
    list-style: none;
}

.container{
    width: 90%;
    margin: auto;
}
 /* Navigation*/
 .nav-brand{
    width: 50px;

}
.nav-main{
    font-size: 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 20px 0;
}
/*NAV LEFT*/
.nav-main ul{
    display: flex;
}
.nav-main ul li{
    padding: 10px;
}
.nav-main ul li a{
    padding: 6px;
}
.nav-main ul li a:hover{
    border-bottom: 2px solid white;
}
.nav-main ul.nav-menu{
    flex: 1;
    margin-left: 20px;
}

/*Proyectos*/

hr{
    margin:10px 0;
}


.btn{
    cursor: pointer;
    display: inline-block;
    border:0;
    font-weight: bold;
    padding: 10px 20px;
    background: #262626;
    color: orangered;
    font-size: 15px;
    border: 1px solid white;
    margin: 10px 0;
}

.btn:hover{
    opacity: .7;
}

.cosas{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin-bottom: 10px;
}

.cosas img{
    width: 100%;
    height: 240px;
}
.cosas p,.cosas h2{
    color: orangered;
}
.cosas h2{
    font-size: 20px;
    margin: 10px 0;
}

.cosas a{
    padding:10px 0;
    color:#f2f2f2;
    text-transform: uppercase;
    display: inline-block;
    font-weight: bold;
    color: orange;
}
.cosas a:hover{
    text-decoration: underline;
}
